.nav-btn {
  @apply p-1 text-center;
  border: 1px solid rgb(0, 139, 139);
  box-shadow: 0px 0px 7px 1px rgba(0, 139, 139, 0.575) inset;
}

.nav-btn:disabled {
  @apply shadow-none;
  cursor: not-allowed;
  color: rgb(0, 59, 59);
  border-color: rgb(0, 59, 59);
}

.nav-btn:not(:disabled):hover {
  @apply transition-colors;
  background-color: rgb(0, 139, 139);
}

.nav-icon {
  animation: nav-icon 0.3s linear alternate infinite;
  color: red;
}

.nav-icon:has(input:checked) + nav {
  left: 0;
}

div:has(> input)::after::after {
  content: "asdasdasdasdasd";
  display: block;
  z-index: 20;
}

@keyframes nav-icon {
  to {
    translate: 5px;
  }
}
